{% extends 'base.html.twig' %}

{% block title %} Programmes de la categorie {% endblock %}

{% block body %}
    {% if programs %}
        <h1>Les séries de la catégorie :
            {{ programs.0.category.name }}</h1>
        {% for program in programs %}
            <div>
                <h2>Série {{ program.id }} : {{ program.title }} </h2>
                <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche <p>{{ program.synopsis }}</p></a>
            </div>
        {% else %}
            Aucune série trouvée.
        {% endfor %}
    {% endif %}

    <a href="{{ path('category_index') }}">Retour à la liste des catégories</a>

{% endblock %}