{% extends 'base.html.twig' %}

{% block title %}Wild Séries | 
		Serie

	{{ program.title }}
	Episode
	{{ episode.number }}
{% endblock %}

{% block stylesheets %}

	{{ parent() }}
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col col-md-6 col-lg-4 mt-5">
				<img class="align-self-start  w-100 mt-5 p-5" src="{{program.poster}}" alt="{{ program.title }} poster">
			</div>
			<div class="col col-md-6 col-lg-8 mt-5">

				<h1 class="mt-5">{{program.title}} </h1>
				<h2 class="text-primary"> Saison n° {{ season.number }} 
				| Episode {{ episode.number }}: {{ episode.title }}</h2>
				<p>
					<span class="fw-bold">Description:
					</span>
					{{ season.description }}</p>


				<p class="mb-5">
					<span class="fw-bold">Synopsis:</span>
					{{episode.synopsis}}</p>
			</div>

		<a class="w-25 m-auto"href="{{ path('program_index') }}">
			Retour à la liste des programmes
		</a>
		</div>
	</div>

{% endblock %}