
{% extends "base.html.twig" %}

{% block body %}

<div class="media">
  <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
  <div class="media-body">
    <h1 class="mt-0">{{ program.title }}</h1>
    <p>{{ program.synopsis }}</p>
    <p>Catégorie : {{ program.category.name }}</p>
    <p>Saison {{ seasons.number }}</p>
    {% for episode in episodes %}
        <ul>
            <li>Titre : {{ episode.title }} - Synopsis : {{ episode.synopsis }}</li>
        </ul>
    {% endfor %}
  </div>
</div>

{% endblock %}