{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
	<div class="media">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1 class="mt-0">{{ program.title }}</h1>
			<p>{{ program.synopsis }}</p>
			<p>Catégorie :
				{{ program.category.name }}</p>
		</div>
		{% for actor in program.actors %}
		<li> Acteur {{ actor.name }} </li>
		{% endfor %}
		
		{% for season in seasons %}
			<a href="{{ path('program_season_show', {"program_id": program.id, "season_id": season.id}) }}">
				<li>Saison n°{{ season.number }}</li>
			</a>
			<p>Année :
				{{ season.year }}</p>

			<p>
				<span class="fw-bold">Description:</span>
				{{ season.description }}</p>

		{% else %}
			Pas de saison trouvée dans cette catégorie
		{% endfor %}
	</div>
</div>
<a class="text-dark fw-bold" href="{{ path('program_index') }}">

	Retour à la liste des programmes

</a>{% endblock %}
