{% extends 'base.html.twig' %}

{% block title %}Acteur {{ actor.id }}{% endblock %}

{% block body %}

<main class="container">
    <h1 class="text-center my-5">{{ actor.name}}:</h1>


    <h2>a tourné également dans les séries :</h2>

        {% for program in actor.programs %}
            <div class="my-3 fs-5 text-success"> <a class="text-success fw-bold" href="{{ path('program_show', {program_id: program.id}) }}">{{ program.title }}</a></div>  
        {% endfor %}

<a class="text-dark fw-bold" href="{{ path('actor_index') }}">

    Retour à la liste des acteurs

</a>

{% endblock %} 